
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/isteven-multi-select.css">
	<link rel="stylesheet" type="text/css" href="/css/loading-bar.min.css">
	<link rel="stylesheet" type="text/css" href="/css/daterangepicker-bs3.css">
	<script src="/scripts/jquery-2.1.4.min.js"></script>
	<script src="/scripts/angular.min.js"></script>
	<script src="/scripts/moment.min.js"></script>
	<script src="/scripts/daterangepicker.js"></script>
	<script src="/scripts/angular-daterangepicker.min.js"></script>
	<script src="/scripts/loading-bar.min.js"></script>
	<script src="/scripts/ui-bootstrap-tpls.min.js"></script>
	<script src="/scripts/isteven-multi-select.js"></script>
	<script>
		angular.module('app', ['ui.bootstrap', 'isteven-multi-select', 'daterangepicker', 'angular-loading-bar'])
		.config(['cfpLoadingBarProvider', function(cfpLoadingBarProvider) {
			cfpLoadingBarProvider.includeSpinner = false;
		}])
		.factory('Service', ['$http', function($http) {
			var service = {};
			service.login = function (user) {
				return $http({
					method:'POST',
					url:'/login',
					data:user
				});
			};
			service.logout = function () {
				return $http({
					method:'POST',
					url:'/logout'
				});
			};
			service.getUser=function () {
				return $http({
					method:'GET',
					url:'/user'
				});
			};
			service.getMembers = function() {
				return $http({
					method: 'GET',
					url: '/members'
				});
			};
			service.bulkUpdate = function (members,dateRange,shift) {
				return $http({
					method:'POST',
					url:'/bulkUpdate',
					data:{
						members:members,
						dateRange:dateRange,
						shift:shift
					}
				});
			};
			service.getShiftPlan = function (month,year) {
				return $http({
					method:'GET',
					url:'/shiftPlan',
					params:{
						month:month,
						year:year
					}
				});
			};
			return service;

		}])
		.controller('Controller', ['$scope','Service', function ($scope,Service) {

			var today = new Date();
			var currentMonth = today.getMonth();
			var currentYear = today.getFullYear();

			$scope.app = {
				members:[],
				selectedMembers:[],
				dateRange:{
					startDate: moment(),
					endDate: moment().add(7,'days')
				},
				datesForTheMonth:[],
				selectedShift:null,
				shiftOptions:[
					{
						label:'Shift 1',
						value:'S1'
					},
					{
						label:'Shift 2',
						value:'S2'
					},
					{
						label:'Shift 3',
						value:'S3'
					},
					{
						label:'None',
						value:'N'
					}
				],
				years:[],
				months:[
					{
						label:'January',
						value:0
					},
					{
						label:'February',
						value:1
					},
					{
						label:'March',
						value:2
					},
					{
						label:'April',
						value:3
					},
					{
						label:'May',
						value:4
					},
					{
						label:'June',
						value:5
					},
					{
						label:'July',
						value:6
					},
					{
						label:'August',
						value:7
					},
					{
						label:'September',
						value:8
					},
					{
						label:'October',
						value:9
					},
					{
						label:'November',
						value:10
					},
					{
						label:'December',
						value:11
					}
				],
				selectedMonth:currentMonth,
				selectedYear:currentYear,
				multiSelectSettings:{
					nothingSelected : "Select Members",
					selectNone : "Select None",
					search : "Search..."
				},
				shiftPlan:{}
			};

			$scope.bulkUpdate = function () {

				var selectedMembers = [];
				for (var i = $scope.app.selectedMembers.length - 1; i >= 0; i--) {
					selectedMembers.push($scope.app.selectedMembers[i]._id);
				};

				var startDate = $scope.app.dateRange.startDate.toDate();
				var endDate = $scope.app.dateRange.endDate.toDate();
				var selectedDateRange = {
					startDate:{
						year:startDate.getFullYear(),
						month:startDate.getMonth(),
						day:startDate.getDate()
					},
					endDate:{
						year:endDate.getFullYear(),
						month:endDate.getMonth(),
						day:endDate.getDate()
					}
				};

				Service.bulkUpdate(selectedMembers,selectedDateRange,$scope.app.selectedShift)
				.then(function () {
					fetchShiftPlan($scope.app.selectedMonth,$scope.app.selectedYear);
				},function () {});

			};

			var addDays=function(date, days) {
				var result = new Date(date);
				result.setDate(date.getDate() + days);
				return result;
			};

			var fetchShiftPlan = function (month,year) {

				$scope.app.datesForTheMonth = [];
				var firstDateOfMonth = 1;
				var lastDateOfMonth = new Date(year,month+1,0).getDate();
				for (var i = firstDateOfMonth; i <= lastDateOfMonth; i++) {
					$scope.app.datesForTheMonth.push(i);
				};

				Service.getShiftPlan(month,year)
				.then(function (response) {

					$scope.app.shiftPlan = response.data;

					//replace memberIds by memberNames
					for(memberId in $scope.app.shiftPlan){
						if ($scope.app.shiftPlan.hasOwnProperty(memberId)) {
							for (var i = $scope.app.members.length - 1; i >= 0; i--) {
								if ($scope.app.members[i]._id === parseInt(memberId)) {
									var memberName = $scope.app.members[i].name;
									$scope.app.shiftPlan[memberName] = $scope.app.shiftPlan[memberId];
									delete $scope.app.shiftPlan[memberId];
								};
							};
						}
					};

					//add "--" as shift for empty entries. change memberPlan from object to array
					for(memberName in $scope.app.shiftPlan){
						if ($scope.app.shiftPlan.hasOwnProperty(memberName)) {
							var memberPlan = [];
							for (var i = 0; i < $scope.app.datesForTheMonth.length; i++) {
								var date = $scope.app.datesForTheMonth[i];
								if (!$scope.app.shiftPlan[memberName][date]) {
									memberPlan.push('--');
								} else{
									memberPlan.push($scope.app.shiftPlan[memberName][date]);
								};
							};
							$scope.app.shiftPlan[memberName] = memberPlan;
						};
					};

				},function () {});

			};

			$scope.shiftPlanIsEmpty = function () {
				return angular.equals({},$scope.app.shiftPlan);
			};

			$scope.isUpdateDisabled = function () {
				return !$scope.app.selectedMembers.length || $scope.app.selectedShift == null;
			};

			$scope.getClassName = function (entry) {
				if (entry == 'S1') {
					return 'text-primary';
				} else if (entry == 'S2') {
					return 'text-success';
				} else if (entry == 'S3') {
					return 'text-warning';
				} else{
					return 'text-muted';
				}
			};

			Service.getMembers()
			.then(function(response){
				var members = response.data;
				for (var i = 0; i < members.length; i++) {
					$scope.app.members[i] = members[i];
					$scope.app.members[i].selected = false;
				};
			},function(errorResponse){
				console.log('error occured while fetching members list');
			});

			for(var _year=currentYear-1;_year<=currentYear+1;_year++){
				$scope.app.years.push(_year);
			};

			fetchShiftPlan(currentMonth,currentYear);

			$scope.$watch('app.selectedMonth',function (newValue,oldValue) {
				if (newValue != oldValue) {
					fetchShiftPlan($scope.app.selectedMonth,$scope.app.selectedYear);
				};
			});

			$scope.$watch('app.selectedYear',function (newValue,oldValue) {
				if (newValue != oldValue) {
					fetchShiftPlan($scope.app.selectedMonth,$scope.app.selectedYear);
				};
			});

		}]);
	</script>
	<style>
		.page-header{
			background-color: rgb(204, 231, 244);
			margin: 0px;
			padding-bottom: 30px;
			padding-top: 30px;
			padding-left: 10px;
			color: rgb(49, 112, 143);
			text-align: center;
		}
		.multiSelect > button{
			width: 100%;
			min-height: 34px !important;
		}
		.main{
			width:95%;
			margin: 0 auto;
		}
		.main .action-bar{
			margin-top: 35px;
			margin-bottom: 35px;
		}
		.main .action-bar .updateButton{
			width:60%;
		}
		.plan{
			border: 1px solid #ddd;
		}
		.plan .title{
			background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
			border: 1px solid #ddd;
			padding: 10px;
			border-top-left-radius: 3px;
    		border-top-right-radius: 3px;
		}
		.noShiftPlanMessage{
			margin: 30px;
		}
	</style>
</head>

<body ng-controller="Controller">
	<h2 class="page-header"><strong>Shift Planner</strong></h2>
	<div class="main">
		<div class="action-bar row">
			<div class="col-md-3">
				<span
					isteven-multi-select
					input-model="app.members"
					output-model="app.selectedMembers"
					button-label="name"
					item-label="name"
					tick-property="selected"
					max-labels="0"
					helper-elements="none filter"
					search-property="name"
					max-height="300px"
					translation="app.multiSelectSettings"
				>
				</span>
			</div>
			<div class="col-md-3">
				<input date-range-picker class="form-control date-picker" ng-model="app.dateRange"/>
			</div>
			<div class="col-md-3">
				<select ng-model="app.selectedShift" ng-options="option.value as option.label for option in app.shiftOptions" class="form-control">
					<option value="">Select</option>
				</select>
			</div>
			<div class="col-md-3">
				<button class="btn btn-default center-block updateButton" ng-click="bulkUpdate()" ng-disabled="isUpdateDisabled()">Update</button>
			</div>
		</div>
		<div class="plan">
			<div class="title">
				<span>Shift plan for</span>
				<select ng-model="app.selectedMonth" ng-options="month.value as month.label for month in app.months">
				</select>
				<select ng-model="app.selectedYear" ng-options="year for year in app.years">
				</select>
			</div>
			<table class="table table-striped table-condensed" ng-hide="shiftPlanIsEmpty()">
				<thead>
					<tr>
						<th></th>
						<th ng-repeat="date in app.datesForTheMonth" ng-bind="date"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(memberName,memberPlan) in app.shiftPlan | orderBy : 'memberName'">
						<td ng-bind="memberName"></td>
						<td ng-repeat="entry in memberPlan track by $index" ng-bind="entry" ng-class="getClassName(entry)"></td>
					</tr>
				</tbody>
			</table>
			<div ng-show="shiftPlanIsEmpty()" class="noShiftPlanMessage">
				No shift plan.
			</div>
		</div>
	</div>
</body>
</html>

